<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <!--单选复选，如是否同意协议、隐私协议之类的-->
        <div class="single">
            <label for="is-agree">
                <input type="checkbox" v-model="isAgree" id="is-agree">是否同意
            </label>
            <h2>你的选择：{{isAgree}}</h2>
            <button :disabled="!isAgree">下一步</button>
        </div>
        <!--多个项目选择-->
        <div class="multi">
            <h3>你有什么爱好？</h3>
            <div class="hobby">
                <input type="checkbox" value="足球" v-model="hobbies">足球
                <input type="checkbox" value="篮球" v-model="hobbies">篮球
                <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
                <input type="checkbox" value="跳绳" v-model="hobbies">跳绳
                <input type="checkbox" value="看电影" v-model="hobbies">看电影
            </div>
            你选择的爱好：{{hobbies}}
        </div>
    </div>

    <script>
        //创建Vue实例,得到 ViewModel
        let app = new Vue({
            el: '#app',
            data: {
                isAgree: false, // 单选场景中，使用字符串
                hobbies: [] // 复选时，使用数组
            },
            methods: {}
        });
    </script>
</body>

</html>