<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <!--v-model值绑定-->
        <div>
            <label :for="item" v-for="item in originCities">
                <input type="checkbox" :id="item" :value="item" v-model="cities">{{item}}
            </label>
            <h4>你选择了:{{cities}}</h4>
        </div>
    </div>

    <script>
        //创建Vue实例,得到 ViewModel
        let app = new Vue({
            el: '#app',
            data: {
                originCities: ["北京", "石家庄", "天津", "成都", "上海", "重庆", "武汉", "深圳", "广州"],
                cities: []
            },
            methods: {}
        });
    </script>
</body>

</html>